[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker-py = "*"
ansible = "==2.7.13"
molecule = "==2.20.2"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
# Normal Case
test ="molecule test"
agent ="molecule test -s wazuh-agent"
elasticsearch ="molecule test -s elasticsearch"
filebeat ="molecule test -s filebeat"
kibana ="molecule test -s kibana"

# Do Not destroy the created containers afte the test execution ends.  
test_still ="molecule test --destroy=never"
agent_still ="molecule test -s wazuh-agent --destroy=never"
elasticsearch_still ="molecule test -s elasticsearch --destroy=never"
filebeat_still ="molecule test -s filebeat --destroy=never"
kibana_still ="molecule test -s kibana --destroy=never"

# Destroy all the existing containers ' Created by Molecule ' 
destroy ="molecule destroy"
