---
wazuh_agent_version: 3.11.1-1

wazuh_agent_sources_installation:
  enabled: false
  branch: "v3.11.1"
  user_language: "y"
  user_no_stop: "y"
  user_install_type: "agent"
  user_dir: "/var/ossec"
  user_delete_dir: "y"
  user_enable_active_response: "y"
  user_enable_syscheck: "y"
  user_enable_rootcheck: "y"
  user_enable_openscap: "y"
  user_enable_sca: "y"
  user_enable_authd: "y"
  user_generate_authd_cert: "n"
  user_update: "y"
  user_binaryinstall: null
  user_agent_server_ip: "YOUR_MANAGER_IP"
  user_agent_server_name: null
  user_agent_config_profile: null
  user_ca_store: "/var/ossec/wpk_root.pem"

wazuh_managers:
  - address: 127.0.0.1
    port: 1514
    protocol: udp
    api_port: 55000
    api_proto: 'http'
    api_user: null
wazuh_profile_centos: 'centos, centos7, centos7.6'
wazuh_profile_ubuntu: 'ubuntu, ubuntu18, ubuntu18.04'
wazuh_auto_restart: 'yes'
wazuh_agent_authd:
  enable: false
  port: 1515
  agent_name: null
  ssl_agent_ca: null
  ssl_agent_cert: null
  ssl_agent_key: null
  ssl_auto_negotiate: 'no'
wazuh_notify_time: '10'
wazuh_time_reconnect: '60'
wazuh_crypto_method: 'aes'
wazuh_winagent_config:
  download_dir: C:\
  install_dir: C:\Program Files\ossec-agent\
  install_dir_x86: C:\Program Files (x86)\ossec-agent\
  auth_path: C:\Program Files\ossec-agent\agent-auth.exe
  # Adding quotes to auth_path_x86 since win_shell outputs error otherwise
  auth_path_x86: C:\'Program Files (x86)'\ossec-agent\agent-auth.exe
  version: '3.11.1'
  revision: '1'
  repo: https://packages.wazuh.com/3.x/windows/
  md5: 1e39c2ad032259cb9682c1eac3ac646a
wazuh_agent_config:
  repo:
    apt: 'deb https://packages.wazuh.com/3.x/apt/ stable main'
    yum: 'https://packages.wazuh.com/3.x/yum/'
    gpg: 'https://packages.wazuh.com/key/GPG-KEY-WAZUH'
  active_response:
    ar_disabled: 'no'
    ca_store: '/var/ossec/etc/wpk_root.pem'
    ca_store_win: 'wpk_root.pem'
    ca_verification: 'yes'
  log_format: 'plain'
  client_buffer:
    disable: 'no'
    queue_size: '5000'
    events_per_sec: '500'
  syscheck:
    frequency: 43200
    scan_on_start: 'yes'
    auto_ignore: 'no'
    alert_new_files: 'yes'
    win_audit_interval: 300
    skip_nfs: 'yes'
    ignore:
      - /etc/mtab
      - /etc/hosts.deny
      - /etc/mail/statistics
      - /etc/random-seed
      - /etc/random.seed
      - /etc/adjtime
      - /etc/httpd/logs
      - /etc/utmpx
      - /etc/wtmpx
      - /etc/cups/certs
      - /etc/dumpdates
      - /etc/svc/volatile
      - /sys/kernel/security
      - /sys/kernel/debug
      - /dev/core
    ignore_linux_type:
      - '^/proc'
      - '.log$|.swp$'
    ignore_win:
      - '.log$|.htm$|.jpg$|.png$|.chm$|.pnf$|.evtx$'
    no_diff:
      - /etc/ssl/private.key
    directories:
      - dirs: /etc,/usr/bin,/usr/sbin
        checks: 'check_all="yes"'
      - dirs: /bin,/sbin,/boot
        checks: 'check_all="yes"'
    win_directories:
      - dirs: '%WINDIR%\regedit.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\system.ini'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\win.ini'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\at.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\attrib.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\cacls.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\cmd.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\drivers\etc'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\eventcreate.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\ftp.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\lsass.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\net.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\net1.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\netsh.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\reg.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\regedt32.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\regsvr32.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\runas.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\sc.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\schtasks.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\sethc.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\subst.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\wbem\WMIC.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\WindowsPowerShell\v1.0\powershell.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\SysNative\winrm.vbs'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\at.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\attrib.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\cacls.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\cmd.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\drivers\etc'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\eventcreate.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\ftp.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\net.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\net1.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\netsh.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\reg.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\regedit.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\regedt32.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\regsvr32.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\runas.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\sc.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\schtasks.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\sethc.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\subst.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\wbem\WMIC.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\WindowsPowerShell\v1.0\powershell.exe'
        checks: 'check_all="yes"'
      - dirs: '%WINDIR%\System32\winrm.vbs'
        checks: 'check_all="yes"'
      - dirs: '%PROGRAMDATA%\Microsoft\Windows\Start Menu\Programs\Startup'
        checks: 'check_all="yes" realtime="yes"'
    windows_registry:
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\batfile'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\cmdfile'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\comfile'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\exefile'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\piffile'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\AllFilesystemObjects'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\Directory'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\Folder'
      - key: 'HKEY_LOCAL_MACHINE\Software\Classes\Protocols'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Policies'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Security'
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Internet Explorer'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services'
      - key: 'HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\KnownDLLs'
      - key: 'HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\SecurePipeServers\winreg'
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Run'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\RunOnce'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\RunOnceEx'
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\URL'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Policies'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Windows'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Windows NT\CurrentVersion\Winlogon'
        arch: "both"
      - key: 'HKEY_LOCAL_MACHINE\Software\Microsoft\Active Setup\Installed Components'
        arch: "both"
    windows_registry_ignore:
      - key: 'HKEY_LOCAL_MACHINE\Security\Policy\Secrets'
      - key: 'HKEY_LOCAL_MACHINE\Security\SAM\Domains\Account\Users'
      - key: '\Enum$'
        type: "sregex"
  rootcheck:
    frequency: 43200
  openscap:
    disable: 'yes'
    timeout: 1800
    interval: '1d'
    scan_on_start: 'yes'
  osquery:
    disable: 'yes'
    run_daemon: 'yes'
    bin_path_win: 'C:\Program Files\osquery\osqueryd'
    log_path: '/var/log/osquery/osqueryd.results.log'
    log_path_win: 'C:\Program Files\osquery\log\osqueryd.results.log'
    config_path: '/etc/osquery/osquery.conf'
    config_path_win: 'C:\Program Files\osquery\osquery.conf'
    add_labels: 'yes'
  syscollector:
    disable: 'no'
    interval: '1h'
    scan_on_start: 'yes'
    hardware: 'yes'
    os: 'yes'
    network: 'yes'
    packages: 'yes'
    ports_no: 'yes'
    processes: 'yes'
  sca:
    enabled: 'yes'
    scan_on_start: 'yes'
    interval: '12h'
    skip_nfs: 'yes'
    day: ''
    wday: ''
    time: ''
  cis_cat:
    disable: 'yes'
    install_java: 'no'
    timeout: 1800
    interval: '1d'
    scan_on_start: 'yes'
    java_path: 'wodles/java'
    java_path_win: '\\server\jre\bin\java.exe'
    ciscat_path: 'wodles/ciscat'
    ciscat_path_win: 'C:\cis-cat'
  vuls:
    disable: 'yes'
    interval: '1d'
    run_on_start: 'yes'
    args:
      - 'mincvss 5'
      - 'antiquity-limit 20'
      - 'updatenvd'
      - 'nvd-year 2016'
      - 'autoupdate'
  localfiles:
    debian:
      - format: 'syslog'
        location: '/var/log/auth.log'
      - format: 'syslog'
        location: '/var/log/syslog'
      - format: 'syslog'
        location: '/var/log/dpkg.log'
      - format: 'syslog'
        location: '/var/log/kern.log'
    centos:
      - format: 'syslog'
        location: '/var/log/messages'
      - format: 'syslog'
        location: '/var/log/secure'
      - format: 'syslog'
        location: '/var/log/maillog'
      - format: 'audit'
        location: '/var/log/audit/audit.log'
    linux:
      - format: 'syslog'
        location: '/var/ossec/logs/active-responses.log'
      - format: 'full_command'
        command: 'last -n 20'
        frequency: '360'
      - format: 'command'
        command: df -P
        frequency: '360'
      - format: 'full_command'
        command: netstat -tulpn | sed 's/\([[:alnum:]]\+\)\ \+[[:digit:]]\+\ \+[[:digit:]]\+\ \+\(.*\):\([[:digit:]]*\)\ \+\([0-9\.\:\*]\+\).\+\ \([[:digit:]]*\/[[:alnum:]\-]*\).*/\1 \2 == \3 == \4 \5/' | sort -k 4 -g | sed 's/ == \(.*\) ==/:\1/' | sed 1,2d
        alias: 'netstat listening ports'
        frequency: '360'
    windows:
      - format: 'eventlog'
        location: 'Application'
      - format: 'eventchannel'
        location: 'Security'
        query: 'Event/System[EventID != 5145 and EventID != 5156 and EventID != 5447 and EventID != 4656 and EventID != 4658 and EventID != 4663 and EventID != 4660 and EventID != 4670 and EventID != 4690 and EventID != 4703 and EventID != 4907]'
      - format: 'eventlog'
        location: 'System'
      - format: 'syslog'
        location: 'active-response\active-responses.log'
  labels:
    enable: false
    list:
      - key: Env
        value: Production
wazuh_agent_nat: false
