---
- name: Include Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_vars.yml

- name: Include Production Repository Variables
  ansible.builtin.include_vars: ../../vars/repo.yml
  when: packages_repository == 'production'

- name: Include Pre-Release Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_pre-release.yml
  when: packages_repository == 'pre-release'

- name: Include Staging Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_staging.yml
  when: packages_repository == 'staging'

- name: Setup Filebeat Repository
  ansible.builtin.include_tasks: RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: Setup Filebeat Repository
  ansible.builtin.include_tasks: Debian.yml
  when: ansible_os_family == 'Debian'

- name: Install Filebeat | Redhat
  ansible.builtin.dnf:
    name: "filebeat-{{ wazuh_filebeat_version }}"
    state: present
    lock_timeout: 200
  register: install
  tags:
    - install
    - init
  when: ansible_os_family == 'RedHat'

- name: Install Filebeat | Debian
  ansible.builtin.apt:
    name: "filebeat={{ wazuh_filebeat_version }}-*"
    state: present
  register: install
  tags:
    - install
    - init
  until: "install is not failed"
  retries: 10
  delay: 10
  when: ansible_os_family == 'Debian'

- name: Checking if Filebeat Module folder file exists
  ansible.builtin.stat:
    path: "{{ wazuh_filebeat_module_folder }}"
  register: wazuh_filebeat_module_folder

- name: Download Filebeat module package
  ansible.builtin.get_url: # noqa risky-file-permissions
    url: "{{ filebeat_module_package_url }}/{{ wazuh_filebeat_module_package_name }}"
    dest: "{{ wazuh_filebeat_module_package_path }}"
  become: true
  when: not wazuh_filebeat_module_folder.stat.exists

- name: Unpack Filebeat module package
  ansible.builtin.unarchive:
    src: "{{ wazuh_filebeat_module_package_path }}/{{ wazuh_filebeat_module_package_name }}"
    dest: "{{ wazuh_filebeat_module_destination }}"
    remote_src: true
  become: true
  when: not wazuh_filebeat_module_folder.stat.exists

- name: Setting 0755 permission for Filebeat module folder
  ansible.builtin.file:
    dest: "{{ wazuh_filebeat_module_folder }}"
    mode: u=rwX,g=rwX,o=rwX
    recurse: true
  become: true
  when: not wazuh_filebeat_module_folder.stat.exists

- name: Checking if Filebeat Module package file exists
  ansible.builtin.stat:
    path: "{{ wazuh_filebeat_module_package_path }}/{{ wazuh_filebeat_module_package_name }}"
  register: filebeat_module_package
  become: true
  when: filebeat_module_package is not defined

- name: Delete Filebeat module package file
  ansible.builtin.file:
    state: absent
    path: "{{ wazuh_filebeat_module_package_path }}/{{ wazuh_filebeat_module_package_name }}"
  become: true
  when: filebeat_module_package.stat.exists

- name: Configure Filebeat
  ansible.builtin.import_tasks: config.yml
  notify: Restart filebeat

- name: Run Security Actions
  ansible.builtin.include_tasks: security_actions.yml
  when: wazuh_filebeat_security

- name: Ensure Filebeat is started and enabled at boot.
  ansible.builtin.service:
    name: filebeat
    state: started
    enabled: true
  become: true

- name: Remove Filebeat Repository
  ansible.builtin.include_tasks: "RMRedHat.yml"
  when: ansible_os_family == "RedHat"

- name: Remove Filebeat Repository
  ansible.builtin.include_tasks: "RMDebian.yml"
  when: ansible_os_family == "Debian"
