- name: Run Security Actions
  tags:
    - security
  when:
    - wazuh_filebeat_security

  block:
    - name: Ensure Filebeat SSL key pair directory exists.
      ansible.builtin.file:
        path: "{{ wazuh_filebeat_ssl_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0500"

    - name: Copy the certificates from local to the Manager instance
      ansible.builtin.copy:
        src: "{{ wazuh_local_certs_path }}/wazuh-certificates/{{ item }}"
        dest: "{{ wazuh_filebeat_ssl_dir }}"
        owner: root
        group: root
        mode: "0400"
      with_items:
        - "{{ wazuh_filebeat_node_name }}-key.pem"
        - "{{ wazuh_filebeat_node_name }}.pem"
        - "root-ca.pem"
