---

- name: Include Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_vars.yml

- name: Include Production Repository Variables
  ansible.builtin.include_vars: ../../vars/repo.yml
  when: packages_repository == 'production'

- name: Include Pre-Release Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_pre-release.yml
  when: packages_repository == 'pre-release'

- name: Include Staging Repository Variables
  ansible.builtin.include_vars: ../../vars/repo_staging.yml
  when: packages_repository == 'staging'

- name: Overlay wazuh_agent_config on top of defaults
  ansible.builtin.set_fact:
    wazuh_agent_config: '{{ wazuh_agent_config_defaults | combine(config_layer, recursive=True) }}'
  vars:
    config_layer: '{{ wazuh_agent_config | default({}) }}'
  when: wazuh_agent_config_overlay | bool

- name: Install Windows Agent
  ansible.builtin.include_tasks: "Windows.yml"
  when: ansible_os_family == "Windows"

- name: Install Linux Agent
  ansible.builtin.include_tasks: "Linux.yml"
  when: ansible_system == "Linux"

- name: Install macOS Agent
  ansible.builtin.include_tasks: "macOS.yml"
  when: ansible_system == "Darwin"
