## Table of content

{% set var = role.var | default({}) %}
{% if var %}
- [Default Variables](#default-variables)
{% for key, item in var | dictsort %}
  - [{{ key }}](#{{ key }})
{% endfor %}
{% endif %}
{% if tag %}
- [Discovered Tags](#discovered-tags)
{% endif %}
{% if todo %}
- [Open Tasks](#open-tasks)
{% endif %}
- [Dependencies](#dependencies)
- [License](#license)
- [Author](#author)

---
