{% if not append | deep_get(role, "internal.append") %}
{% set meta = role.meta | default({}) %}
# {{ meta.name.value | save_join(" ") }}
{% endif %}
{% if description | deep_get(meta, "description.value") %}

{{ meta.description.value | save_join(" ") }}
{% endif %}

{#      TOC      #}
{% include '_toc.j2' %}

{% if requirements | deep_get(meta, "requirements.value") %}

{{ meta.requirements.value | save_join(" ") }}
{% endif %}

{% if instructions | deep_get(meta, "instructions.value") %}

{{ meta.instructions.value | save_join(" ") }}
{% endif %}

{#      Vars      #}
{% include '_vars.j2' %}

{#      Todo      #}
{% include '_tag.j2' %}

{#      Todo      #}
{% include '_todo.j2' %}

{#      Meta      #}
{% include '_meta.j2' %}

{% if misc | deep_get(meta, "misc.value") %}

{{ meta.misc.value | save_join(" ") }}
{% endif %}