- name: Configure IP (Private address)
  ansible.builtin.set_fact:
    target_address: "{{ hostvars[inventory_hostname]['private_ip'] if not wazuh_single_node else wazuh_indexer_network_host }}"
  when:
    - hostvars[inventory_hostname]['private_ip'] is defined

- name: Configure IP (Public address)
  ansible.builtin.set_fact:
    target_address: "{{ inventory_hostname if not wazuh_single_node else wazuh_indexer_network_host }}"
  when:
    - hostvars[inventory_hostname]['private_ip'] is not defined

- name: Ensure Indexer certificates directory permissions.
  ansible.builtin.file:
    path: "{{ wazuh_indexer_conf_path }}/certs/"
    state: directory
    owner: wazuh-indexer
    group: wazuh-indexer
    mode: "0500"

- name: Copy the node & admin certificates to Wazuh indexer cluster
  ansible.builtin.copy:
    src: "{{ wazuh_local_certs_path }}/wazuh-certificates/{{ item }}"
    dest: "{{ wazuh_indexer_conf_path }}/certs/"
    owner: wazuh-indexer
    group: wazuh-indexer
    mode: "0400"
  with_items:
    - root-ca.pem
    - "{{ wazuh_indexer_node_name }}-key.pem"
    - "{{ wazuh_indexer_node_name }}.pem"
    - admin-key.pem
    - admin.pem

- name: Restart Wazuh indexer with security configuration
  ansible.builtin.systemd:
    name: wazuh-indexer
    state: restarted

- name: Copy the Opensearch security internal users template
  ansible.builtin.template:
    src: "templates/internal_users.yml.j2"
    dest: "{{ wazuh_indexer_sec_plugin_conf_path }}/internal_users.yml"
    mode: "0644"
  run_once: true

- name: Setting Up Admin User
  when: inventory_hostname == ansible_play_hosts[0]

  block:
    - name: Hashing the custom admin password
      ansible.builtin.shell: |
        export JAVA_HOME=/usr/share/wazuh-indexer/jdk
        {{ wazuh_indexer_sec_plugin_tools_path }}/hash.sh -p '{{ wazuh_indexer_admin_password }}'
      register: wazuh_indexer_admin_password_hashed
      no_log: '{{ wazuh_indexer_nolog_sensible | bool }}'
      changed_when: false

    - name: Set the Admin user password
      ansible.builtin.replace:
        path: "{{ wazuh_indexer_sec_plugin_conf_path }}/internal_users.yml"
        regexp: '(?<=admin:\n  hash: )(.*)(?=)'
        replace: "{{ indexer_password_hash | quote }}"
      vars:
        indexer_password_hash: "{{ wazuh_indexer_admin_password_hashed.stdout_lines | last }}"

    # this can also be achieved with password_hash, but it requires dependencies on the controller
    - name: Hash the kibanaserver role/user pasword
      ansible.builtin.shell: |
        export JAVA_HOME=/usr/share/wazuh-indexer/jdk
        {{ wazuh_indexer_sec_plugin_tools_path }}/hash.sh -p '{{ wazuh_dashboard_password }}'
      register: indexer_kibanaserver_password_hashed
      no_log: '{{ wazuh_indexer_nolog_sensible | bool }}'
      changed_when: false

    - name: Set the kibanaserver user password
      ansible.builtin.replace:
        path: "{{ wazuh_indexer_sec_plugin_conf_path }}/internal_users.yml"
        regexp: '(?<=kibanaserver:\n  hash: )(.*)(?=)'
        replace: "{{ indexer_password_hash | quote }}"
      vars:
        indexer_password_hash: "{{ indexer_kibanaserver_password_hashed.stdout_lines | last }}"

    - name: Initialize the Opensearch security index in Wazuh indexer
      ansible.builtin.command: >
        sudo -u wazuh-indexer OPENSEARCH_PATH_CONF={{ wazuh_indexer_conf_path }}
        JAVA_HOME=/usr/share/wazuh-indexer/jdk
        {{ wazuh_indexer_sec_plugin_tools_path }}/securityadmin.sh
        -cd {{ wazuh_indexer_sec_plugin_conf_path }}/
        -icl -p 9200 -cd {{ wazuh_indexer_sec_plugin_conf_path }}/
        -nhnv
        -cacert {{ wazuh_indexer_conf_path }}/certs/root-ca.pem
        -cert {{ wazuh_indexer_conf_path }}/certs/admin.pem
        -key {{ wazuh_indexer_conf_path }}/certs/admin-key.pem
        -h {{ target_address }}
      retries: 2
      delay: 5
      register: result
      until: result.rc == 0
      changed_when: false

- name: Create custom user
  ansible.builtin.uri:
    url: "https://{{ target_address }}:{{ wazuh_indexer_http_port }}/_plugins/_security/api/internalusers/{{ wazuh_indexer_custom_user }}"
    method: PUT
    user: "admin" # Default Indexer user is always "admin"
    password: "{{ wazuh_indexer_admin_password }}"
    body: |
      {
        "password": "{{ wazuh_indexer_admin_password }}",
        "backend_roles": ["{{ wazuh_indexer_custom_user_role }}"]
      }
    body_format: json
    validate_certs: false
    status_code: 200,201,401
    return_content: true
    timeout: 4
  register: result
  until: result.status in [200,201,401]
  when:
    - wazuh_indexer_custom_user is defined and wazuh_indexer_custom_user != ""
    - inventory_hostname == ansible_play_hosts[0]
