## <span style="color:#5dbaebff">Examples</span>

### <span style="color:#5dbaebff">Host File</span>

{% raw %}
```ini
[osticket]
<ost.example.com> ansible_host=<11.11.11.11> ansible_user=root
```

### <span style="color:#5dbaebff">Vars File</span>
**Path:** /path/to/playbook/repo/inventory/group_vars/osticket/vars.yml

```yaml
#### Base
base_server_environment: "dev"
base_admin: "localadmin"
base_admin_password: "changem3"

#### Lamp
lamp_mysql_root_password: changem3
lamp_web: httpd
lamp_php_version: "8.2"

#### OsTicket
osticket_repo_branch: "1.16.x"
osticket_url: test10
osticket_admin_email: "admin@example.com"
osticket_sql_user: "osticket"
osticket_sql_password: "changem3"
osticket_CONFIG_SIRI: ""
osticket_CONFIG_DBHOST: "127.0.0.1"
osticket_CONFIG_PREFIX: "ost_"
osticket_sql_database: "osticket"
osticket_root: /var/www/{{ osticket_url }}

### SSL

ssl_url: "{{ osticket_url }}"
ssl_cert_type: selfsigned
ssl_application_root: /etc/{{ ssl_url }}
ssl_web: httpd
ssl_email: techies@altispeed.com

# Self Signed
ssl_organization: test10
ssl_country: "US"

# Certbot
ssl_module: apache
```
{% endraw %}

### <span style="color:#5dbaebff">Setup</span>

1. Clone Repository
```bash
git clone --recursive git@gitlab.com:altispeed/internal/ansible/templates/playbooks/os-ticket.git

cd  /path/to/playbook/repo
```

2. Setup Inventory folder and Vars and Hosts files

3. Run Ansible Playbook to Prepare Server
```bash
ansible-playbook -i inventory/hosts setup.yml --tags "setup-ssh,update-base"
```

4. Change ansible user from root to base_admin

5. Run Ansible Playbook to Install and Setup osTicket
```bash
ansible-playbook -i inventory/hosts setup.yml --tags "setup-all" --ask-become-pass
```

6. Run Ansible Playbook to Lockdown ssh and setup and configure firewall
```bash
ansible-playbook -i inventory/hosts setup.yml --tags "lockdown" --ask-become-pass
```

7. Run Ansible Playbook to complete the setup of SSL
```bash
ansible-playbook -i inventory/hosts setup.yml --tags "setup-ssl" --ask-become-pass
```

8. Open Browser and go to osTicket domain.  Follow the steps to finish the installation.

9. Run Ansible Playbook to secure the osticket installation once the setup is complete
```bash
ansible-playbook -i inventory/hosts setup.yml --tags "secure-osticket" --ask-become-pass
```