# Wazuh Collection Playbook

{% if not append | deep_get(role, "internal.append") %}

{% set meta = role.meta | default({}) %}
# {{ meta.name.value | save_join(" ") }}
{% endif %}

{% if description | deep_get(meta, "description.value") %}

{{ meta.description.value | save_join(" ") }}
{% endif %}

## <div style="text-align: right"></div>

## <div style="text-align: right"><span style="color:#5dbaebff">Runbook: </span>{{ meta.name.value | save_join(" ") }}</div>

### <div style="text-align: right"><span style="color:red">Last Updated:</span>2022-06-21</div>

</br>
</br>

{% if description | deep_get(meta, "description.value") %}

{{ meta.description.value | save_join(" ") }}
{% endif %}

{#      TOC      #}
{% include '_toc.j2' %}

{% if example | deep_get(meta, "example.value") %}

{{ meta.example.value | save_join(" ") }}
{% endif %}

{#      Vars      #}
{% include '_vars.j2' %}

{#      Todo      #}
{% include '_tag.j2' %}

{#      Todo      #}
{% include '_todo.j2' %}

{#      Meta      #}
{% include '_meta.j2' %}
