---
- name: Converge
  hosts: all
  roles:
    - role: wazuh/ansible-wazuh-agent
  vars:
    wazuh_managers:
      - address: 'manager_platform'
        port: 1514
        protocol: tcp
        api_port: 55000
        api_proto: 'http'
        api_user: ansible
    wazuh_agent_authd:
      enable: true
      port: 1515
      ssl_agent_ca: null
      ssl_auto_negotiate: 'no'    
