---
- block:

  - name: RedHat/CentOS/Fedora | Add OpenDistro repo
    yum_repository:
      file: opendistro
      name: opendistro_repo
      description: Opendistro yum repository
      baseurl: "{{ package_repos.yum.opendistro.baseurl }}"
      gpgkey: "{{ package_repos.yum.opendistro.gpg }}"
      gpgcheck: true

  - name: Install Kibana
    package:
      name: "opendistroforelasticsearch-kibana-{{ kibana_opendistro_version }}"
      state: present
    register: install

  tags:
    - install
