# {{ ansible_managed }}

cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
bootstrap.memory_lock: true
network.host: {{ elasticsearch_network_host }}

{% if single_node %}
discovery.type: single-node
{% elif elasticsearch_bootstrap_node %}
cluster.initial_master_nodes: 
{% for item in elasticsearch_cluster_nodes %}
  - {{ item }}
{% endfor %}
{% elif elasticsearch_master_candidate %}
discovery.seed_hosts:
{% for item in elasticsearch_cluster_nodes %}
  - {{ item }}
{% endfor %}
{% endif %}
