
# {{ ansible_managed }}
# TO-DO

{% if node_certs_generator %}
instances:
{% for (key,value) in instances.iteritems() %}
- name: "{{ value.name }}" 
  ip:
   - "{{ value.ip }}"
{% endfor %}

{% endif %}
