
# {{ ansible_managed }}
# TO-DO

{% if node_certs_generator %}
instances:
{% for (key,value) in instances.items() %}
- name: "{{ value.name }}"
{% if value.ip is defined %}
  ip:
   - "{{ value.ip }}"
{% elif value.dns is defined %}
  dns:
   - "{{ value.dns }}"
{% endif %}
{% endfor %}
{% endif %}
