---
- hosts: <your server host>
  roles:
    - {role: ../roles/wazuh/ansible-wazuh-manager}
    - role: ../roles/wazuh/ansible-filebeat
      filebeat_output_elasticsearch_hosts: localhost:9200
    - {role: ../roles/elastic-stack/ansible-elasticsearch, elasticsearch_network_host: '0.0.0.0', single_node: true}
    - { role: ../roles/elastic-stack/ansible-kibana, elasticsearch_network_host: '0.0.0.0', elasticsearch_reachable_host: 'localhost' }